<html>
    <head>
        <title>Find a Shoe Store</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class = "container">

            <div class = "col-md-8 text-center">
                <h1><center>Find a Shoe Store!</center></h1>
                    <br>
                <h3>Click on the button below to see a list of local stores, or to add one yourself!</h3>
                    <br>
                <form action = "/stores" method = "get">
                    <button type = "submit" class = "btn-lg btn-primary">Find a store!</button>
                </form>
            </div>
        </div>
    </body>
</html>
